---
http_interactions:
- request:
    method: get
    uri: https://supremegolf.com/api/v4/tee_times/367049106
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Api-Version:
      - 4.1.7
      Etag:
      - W/"8ae4d3114a5b3c942f281d27d1491737"
    body:
      encoding: UTF-8
      string: '{"tee_time":{"id":367049106,"course_id":3003,"currency":"USD","players":[1,2,3,4],"rate":"65.00","regular_rate":"80.52","savings_pct":19,"savings_amount":"15.52","tee_off_at_formatted":"10:10AM","tee_off_at_iso8601":"2015-06-02T10:10:00Z","amenities":["is_18_holes","is_riding"],"provider":{"code":"golf18_network","name":"Golf18
        Network"}}}'
  recorded_at: Tue, 02 Jun 2015 17:06:51 GMT
recorded_with: VCR 2.9.3
