---
http_interactions:
- request:
    method: get
    uri: https://supremegolf.com/api/v4/tee_times/at/3003?date=2015-05-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Api-Version:
      - 4.1.7
    body:
      encoding: UTF-8
      string: '{"tee_times":[{"id":365267167,"course_id":3003,"currency":"USD","players":[1,2,3,4],"rate":"62.00","regular_rate":"100.00","savings_pct":38,"savings_amount":"38.00","tee_off_at_formatted":"6:10AM","tee_off_at_iso8601":"2015-05-31T06:10:00Z","amenities":["is_18_holes","is_riding","is_earlybird"],"provider":{"code":"golf_now","name":"GolfNow"}},{"id":365328431,"course_id":3003,"currency":"USD","players":[1,2],"rate":"69.00","regular_rate":"100.00","savings_pct":31,"savings_amount":"31.00","tee_off_at_formatted":"6:20AM","tee_off_at_iso8601":"2015-05-31T06:20:00Z","amenities":["is_18_holes","is_riding"],"provider":{"code":"golf18_network","name":"Golf18
        Network"}},{"id":364565105,"course_id":3003,"currency":"USD","players":[1,2],"rate":"62.00","regular_rate":"100.00","savings_pct":38,"savings_amount":"38.00","tee_off[...]
